/*
 *Name: Palmer Allen
 *UnityID: peallen
 *Date: 9/23/22
 *Assignment: Independent Assignment
 *Description: create a about me webpage
 */
 
p {
    background-color: #e9390d;
}

table {
    border: 4px solid #d9fd0c;
}

#photo-resize {
    max-width: 250px ;
    max-height: 300px ;
    border: 4px outset #ee0dee;
}
